*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Didact Gothic', sans-serif;
font-family: 'Merriweather', serif;
}

body{
    background-color: #F8FAFC;
    background-image: url("../resources/profile\ Background\ Pattern.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100%;
}

/* profile styling */
main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile-page{
    background-color: white;
    width: 40%;
    padding: 18px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#profile-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 22px;
    
}

#profile{
    font-size: 32px;
    font-weight: 600;
}


#avatar{
    width: 50%;
}

#avatar img{
    width: 100%;
}


.logout-section{
    width: 75%;
}



.logout-section button{
    background-color: #564FF2;
    border: none;
    color: white;
    width: 100%;
    height: 42px;
    border-radius: 6px;
    cursor: pointer;
}